*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif ;
    background-color: rgb(1, 1, 29);
}
.container{
    width: 600px;
    height: 650px;
    /* border: 1px solid; */
    text-align: center;
    padding: 30px;
    /* border-radius: 10px; */
}
.header-container{
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: whitesmoke;
}
#image{
    width: 200px;
    height: 200px;
}
.line{
    width: 60px;
    height: 7px;
    margin-left: 235px;
    margin-top: 10px;
    border: 1px solid rgb(5, 190, 190);
    border-radius: 20px;
}
hr{
    width: 60px;
    height: 7px;
    background-color: rgb(5, 190, 190);
    border-radius: 30px;
}
figure{
    margin-bottom: 30px;
}

#article{
 background-color: whitesmoke;
 border-radius: 20px;
 border:5px solid rgb(3, 250, 250);
 box-shadow: 0 0 100px rgb(5, 190, 190) ;
}

#name{
    font-size: 20px;
    letter-spacing: 2px;
    /* margin-bottom: 20px; */
}
#post{
    color: rgb(8, 185, 185);
    /* border: 1px solid; */
    /* margin-top: 10px; */
    margin-left: 5px;
    margin-bottom: 10px;
}
#reviews{
    margin-bottom: 20px;
    line-height: 25px;
    font-size: large;
    padding: 10px;
}
.nav-btn{
    width: 30px;
    height: 30px;
    font-size: larger;
    border: none;
    background-color: white;
    font-weight: bolder;
    color: rgb(43, 121, 121);
    margin-left: 5px;
}
.nav-btn:focus{
    box-shadow: 0 0 10px rgb(5, 190, 190) ;
}
#surprise-btn{
    /* width: 30p; */
    font-weight: bolder;
    padding: 10px;
    padding-bottom: 25px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(2, 2, 29);
    color: rgb(5, 190, 190);
    border: none;
    /* box-shadow: 0 0 10px rgb(5, 190, 190); */
    margin-left: 10px;
}

#surprise-btn:hover{
    box-shadow: 0 0 20px rgb(5, 190, 190);
    transition-duration: 0.5s;
}