*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 29);
}
.container{
   text-align: center;
   color: white;
}
.head{
    margin-bottom: 50px;
}
#count{
    font-weight: bolder;
    font-size: 150px;
}
.btn {
    margin-top: 50px;
    margin-right: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}
#decrement{
    background-color: rgb(255, 0, 0);
}
#increment{
    background-color: rgb(6, 255, 6);
}
#reset{
    background-color: yellow;
}
.decrement:hover{
    width: 150px;
    height: 60px;
    /* box-shadow: 5px 5px black; */
    border-color: rgb(252, 27, 27);
    outline: none;
    box-shadow: 0 0 30px rgb(252, 27, 27);
    transition-duration: 0.5s;
}
.increment:hover{
    width: 150px;
    height: 60px;
    /* box-shadow: 5px 5px black; */
    border-color:green;
    outline: none;
    box-shadow: 0 0 30px green;
    transition-duration: 0.5s;
}
.reset:hover{
    width: 150px;
    height: 60px;
    /* box-shadow: 5px 5px black; */
    border-color: rgb(250, 250, 10);
    outline: none;
    box-shadow: 0 0 30px rgb(250, 250, 10);
    transition-duration: 0.5s;
}
